#### Lists

In [2]:
lst = [22,"Hello",12.2,4,"Hi"] #list, stores all data types
print(lst)
print(lst[2]) #stored in index and reverse index order.
print(lst[:]) # a new copy or a shallow copy of the lsit

[22, 'Hello', 12.2, 4, 'Hi']
12.2
[22, 'Hello', 12.2, 4, 'Hi']

In [3]:
lst = lst + [121, 'Salute'] # lists can be concatenated
print(lst)

lst[-2] = 122 # lists are mutable
print(lst)

lst.append("1:1") # append list
print(lst)

lst[2:3] = [11.2, 132] # replacing with range
print(lst)

lst[7:8] = [] # remove elements (does not work with -ve range)
print(lst)

[22, 'Hello', 12.2, 4, 'Hi', 121, 'Salute']
[22, 'Hello', 12.2, 4, 'Hi', 122, 'Salute']
[22, 'Hello', 12.2, 4, 'Hi', 122, 'Salute', '1:1']
[22, 'Hello', 11.2, 132, 4, 'Hi', 122, 'Salute', '1:1']
[22, 'Hello', 11.2, 132, 4, 'Hi', 122, '1:1']

In [4]:
lst[:] = [] #to remove entire list
print(lst)

[]

In [5]:
lst2 = [2,3,5,"A",7,"B"] # length of the list
print(len(lst2))

lst3 = [1,4,6,"C",8,"D"]
lst4 = [lst2, lst3] # nested list
print(lst4)

print(lst4[1]) # can view, replace nested list
print(lst4[1][2]) # to view element of the nested list

6
[[2, 3, 5, 'A', 7, 'B'], [1, 4, 6, 'C', 8, 'D']]
[1, 4, 6, 'C', 8, 'D']
6

#### IF-ELSE Condition

In [1]:
x = int(input("Enter an integer: "))

if x < 0:
    print("is a negative integer")
elif x==0:
    print("is a zero integer")
else:
    print("is a positive integer")

Enter an integer:  -23

is a negative integer

In [2]:
salary = int(input("Enter your salary: "))

if salary < 500:
    salary = salary+50
elif salary >= 500 and salary <= 1000:
    salary = salary+100
else:
    salary = salary+150
    
print(salary)

Enter your salary:  937

1037

In [3]:
# print strings and numerical values without any concatenation
print("salary "+str(salary)) # str method
print(f'{"Total Salary = "}{salary}') # fstring method

salary 1037
Total Salary = 1037

In [ ]:
#### FOR and WHILE Loops

In [4]:
num = 0
while (num<5):
    print(num, "Hello")
    num = num+1
else:
    print("End of while loop")

print("-----------")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
End of while loop
-----------

In [8]:
langs = {"Java": 1, "Python": 2, "C#": 3}
for i in langs:
    print(i)

Java
Python
C#

In [12]:
# to print only the index number
for i in range(len(langs)):
    print(i)

0
1
2

In [18]:
# to peint the element within seperately
name = ["Aman", "Chaman", "Raman"]
for i in range(len(name)):
    print(name[i])
else:
    print("Name not found")

Aman
Chaman
Raman
Name not found